
    <header>
        <div id="head-div">
        <nav class="">
            <ul class="nav item">
                <li class="navbar-light"><a id="home" routerLink="/details-students" class="nav-link" href=""> Home</a></li>
                <li class="navbar-light"><a class="nav-link" href="">Service</a></li>
                <li class="navbar-light"><a class="nav-link" href="">Courses</a></li>
                <li class="navbar-light"><a routerLink="/add-student" class="nav-link" href="">Login</a></li>
                <li class="navbar-light"><a class="nav-link" href="">About us</a></li>
          
            <div class="d-flex justify-content-center mb-4" id="Search-bar">
                <div class="form-outline me-3" style="width: 14rem">
                    <input type="text" id="form1" class="form-control" placeholder="Search" />   
                </div>
                <button type="button" class="btn btn-success">Search</button>
            </div>
        </ul>
          </nav>
    </div>
    </header>    
