
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4>Sidebar</h4>
            </div>
            <hr style="padding-left: 5px;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item active">
                    <a class="nav-link active" style="width: 200px; color: white;" href="">Home</a>
                </li>
                <li>
                    <a  href="#">Service</a>
                </li>
               
                <li>
                    <a  href="#">Courses</a>
                </li>
                <li>
                    <a routerLink="/add-student" href="#">Login</a>
                </li>
                <li>
                    <a  href="#">About us</a>
                </li>
            </ul>    
            </nav>
