nav ul{
    justify-content: center;
} 
a{
    color: black;
}
hr {
    border-bottom: 1px solid grey;
    width: 80%;
    margin-left: 10%;
}
footer{
   // background-color: #e3f2fd;
}
p{
    margin-left: 50%;
}

