
        <footer>
            <div id="head-div">
                <nav class="">
                    <ul class="nav item">
                        <li class="navbar-light"><a class="nav-link" href="">Home</a></li>
                        <li class="navbar-light"><a class="nav-link" href="">Service</a></li>
                        <li class="navbar-light"><a class="nav-link" href="">Courses</a></li>
                        <li class="navbar-light"><a class="nav-link" href="">Login</a></li>
                        <li class="navbar-light"><a class="nav-link" href="">About us</a></li>
                    </ul>
                </nav>
                <hr>
                <p> &#169; myapp </p>
   
            </div>
        </footer>

